/*navbar*/
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #ffa876;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.5em;
        color: #fff;
        display: block;
        transition: 0.3s;
        text-align: left;
    }

        .sidenav a:hover {
            color: #7386D5;
            background: #fff;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

        .sidenav .closebtn:hover {
            background-color: #ffa876 !important;
            color: black;
        }

.sub-list-unstyled {
    padding: 15px 10px;
    font-size: 0.8em;
    list-style: none;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}



#details-page-wrapper {
    background-color: white !important;
}

#details-page-wrapper {
    width: 80vw;
    margin-left: 10vw;
}

.what {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 1.5vw;
    font-weight: 200;
    color: darkgrey;
}
    .info

{
    color: black;
    font-weight: 400;
}

iframe {
    border: solid 2px grey;
    box-shadow: 9px 6px 8px 0px rgba(0,0,0,0.25);
}